* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

header {
    display: flex;
    background-color: goldenrod;
    width: 100vw;
}

aside {
    width: 30vw;
    height: 70%;
    background-color: green;
}

section {
    background-color: cadetblue;
    width: 70vw;
    height: 70%;
}

.profileImg {
    width: 200px;
    height: 200px;
    border: 50%;
    overflow: hidden;
}